extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    // Bootstrap theme
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    // Custom styles for this template
    link(href='node_modules/jade-bootstrap/css/theme.css', rel='stylesheet')
    style.
        body {
            padding: 0;
        }
        .table-totals {
            font-weight: bold;
        }
        .table-sum {
            text-align: right;
        }
        table.food tbody td {
            //border: none !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
        }

block body
    .container.theme-showcase(role='main')
        .page-header
            .row
                .col-md-3
                        img(src='images/arkadia_mini.jpg')
                .col-md-6.text-center
                    h3#heading
                .col-md-3.text-right
                    h3
                        small#timestamp
        #display

append scripts
    // Moment
    script( src='node_modules/moment/min/moment.min.js' )

    // Parameters   
    if kitchenDisplayId
        script.
            var kitchenDisplayId = "!{kitchenDisplayId}";
    else
        script.
            var kitchenDisplayId = null
    if menuId
        script.
            var menuId = "!{menuId}";
    else
        script.
            var menuId = null

    script.

        var curr_row = null;
        var row_elems = 0;
        var curr_tbody = null;
        var curr_tfoot = null;
        var last_ftn = "";
        var last_fn = "";
        var total_qty = 0;
        var total_qty_extra = 0;
        var total_count = 0;
        var total_units = "";

        // Open food
        function renderFoodHeader(fn) {
            if (row_elems%4 == 0) {
                curr_row = $('<div>').addClass('row');
                $("#display").append(
                    curr_row
                );
            }
            row_elems += 1;
            curr_tbody = $('<tbody>');
            curr_tfoot = $('<tfoot>');
            curr_row.append(
                $('<div>').addClass('col-md-3').append(
                    $('<table>').addClass('table table-condensed food').append(
                        $('<thead>').append(
                            $('<tr>').append(
                                $('<th>').attr('colspan', 3).text(fn)
                            )
                        ),
                        curr_tbody,
                        curr_tfoot
                    )
                )
            );
        }

        // Close food
        function renderFoodFooter() {
            if (!curr_tfoot) {
                return;
            }
            curr_tfoot.append(
                $('<tr>').append(
                    $('<td>').attr('colspan', 3).addClass('text-right').text("Suma: "+(total_qty+total_qty_extra)+" porcji")
                )
            );
            total_qty = 0;
            total_qty_extra = 0;
            total_count = 0;
        }

        // Build menu item html
        function renderMenuItem(i) {
            console.log("Rendering menu item", i);
            var ftn = i.food_type_name;
            var fn = i.menu_title_pl + ((i.menu_title_uk)?(" / " + i.menu_title_uk):"");
            // if food changed and already processed some, close previous
            if (last_fn && fn != last_fn) {
                renderFoodFooter();
            }
            // if food chaged, open new
            if (fn != last_fn) {
                renderFoodHeader(fn);
            }
            curr_tbody.append(
                $('<tr>').append(
                    $('<td>').text(i.pos_name),
                    $('<td>').addClass('text-right').text(i.qty?i.qty:0),
                    $('<td>').addClass('text-right').text(i.qty_extra?i.qty_extra:0)
                )
            );
            total_qty += i.qty; 
            total_qty_extra += i.qty_extra; 
            total_count += 1;
            total_units = i.food_units;
            last_ftn = ftn;
            last_fn = fn;
        }

        function renderDisplay(kitchen_display, menu) {
            $("#heading").text(kitchen_display.name + " " + menu.dt);
            $.each(menu.menu_items, function(idx, i) {
                renderMenuItem(i);
            });
            renderFoodFooter();
            $("#timestamp").text(new moment().format("YYYY-MM-DD HH:mm:ss"));
        }

        // Reload the data and render 
        function refreshDisplay() {
            curr_row = null;
            row_elems = 0;
            curr_tbody = null;
            curr_tfoot = null;
            last_ftn = "";
            last_fn = "";
            total_qty = 0;
            total_qty_extra = 0;
            total_count = 0;
            total_units = "";

            $.ajax("api/kitchen_displays/"+kitchenDisplayId)
                .done(function(kitchen_display) {
                    $.ajax("api/menus/"+menuId+"?kitchen_id="+kitchen_display.kitchen_id)
                        .done(function(menu) {
                            $("#display").empty();
                            renderDisplay(kitchen_display, menu);
                        })
                        .fail(function(err) {
                            console.error("Getting data from server failed", err);
                            window.alert("Wystąpił błąd.");
                        });
                })
                .fail(function(err) {
                    console.error("Getting data from server failed", err);
                    window.alert("Wystąpił błąd.");
                });

            // Refresh display periodically
            setTimeout(function() {refreshDisplay();}, 60*1000);
        }

        // Document is ready and loaded
        $(document).ready(function() {
            refreshDisplay();
        });
