extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    // Bootstrap theme
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    // Custom styles for this template
    link(href='node_modules/jade-bootstrap/css/theme.css', rel='stylesheet')

block body
    +navbar-fixed("Arkadia Cafe","navbar","inverse")
        +nav_item("menus","active") Menu
        +nav_item("logout") Wyloguj
    .container.theme-showcase(role='main')
        .page-header
            h1#heading
        #display

append scripts
    // Moment
    script( src='node_modules/moment/min/moment.min.js' )

    // Parameters   
    if kitchenDisplayId
        script.
            var kitchenDisplayId = "!{kitchenDisplayId}";
    else
        script.
            var kitchenDisplayId = null
    if menuId
        script.
            var menuId = "!{menuId}";
    else
        script.
            var menuId = null

    script.

        function renderDisplay(food_types, menu, kitchen_display) {
            $("#heading").text(kitchen_display.name + " " + menu.dt);
            $("#display").append(
                $.map(food_types, function(t) {
                    return $('<h2>').attr('id', "food_type_"+t.id).text(t.name);
                })
            );
            $.each(menu.menu_items, function(idx, item) {
                $("#food_type_"+item.food_type_id).after(
                    $('<p>').text(item.food_name)
                );
            });
        }

        // Document is ready and loaded
        $(document).ready(function() {
            $.when($.ajax("api/food_types"), $.ajax("api/menus/"+menuId), $.ajax("api/kitchen_displays/"+kitchenDisplayId))
                .done(function(res_food_types, res_menu, res_kitchen_display) {
                    food_types = res_food_types[0];
                    menu = res_menu[0];
                    kitchen_display = res_kitchen_display[0];
                    renderDisplay(food_types, menu, kitchen_display);
                })
                .fail(function(err) {
                    console.error("Getting data from server failed", err);
                    window.alert("Wystąpił błąd.");
                });
        });
