extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    // Bootstrap theme
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    // Custom styles for this template
    link(href='node_modules/jade-bootstrap/css/theme.css', rel='stylesheet')
    // Datepicker
    link(href='node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css', rel='stylesheet')

block body
    +navbar-fixed("Arkadia Cafe","navbar","inverse")
        +nav_item("menus","active") Menu
        +nav_item("logout") Wyloguj
    .container.theme-showcase(role='main')
        .page-header
            h1 Zarządzanie Menu
        .row
            .col-md-4
                #datepicker
            .col-md-8
                #menu-detail

append scripts
    // Datepicker
    script( src='node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' )
    script( src='node_modules/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pl.min.js' )
    // Moment
    script( src='node_modules/moment/min/moment.min.js' )

    // Parameters   
    if menuDate
        script.
            var menuDate = "!{menuDate}";
    else
        script.
            var menuDate = null

    script.
        var DATE_FORMAT = "YYYY-MM-DD";
        var DATE_FORMAT_PICKER = "yyyy-mm-dd";
        
        var kitchens, poses, kitchen_displays, pos_displays;

        function renderMenuDetail(id) {
            return $('<div>').append(
                $('<input>').attr('type', 'button').addClass('btn').addClass('btn-default').val('Edytuj Menu').click(function() {
                    window.location = "menu?id="+id;
                }),
                $('<p>').append(
                    $('<div>').addClass('list-group').append(
                        $.map(kitchen_displays, function(kd) {
                            return $('<a>').attr('href', 'kitchen_display?id='+kd.id+'&menu_id='+id).addClass('list-group-item').text(kd.name);
                        })
                    )
                ),
                $('<p>').append(
                    $('<div>').addClass('list-group').append(
                        $.map(pos_displays, function(pd) {
                            return $('<a>').attr('href', 'pos_display?id='+pd.id+'&menu_id='+id).addClass('list-group-item').text(pd.name);
                        })
                    )
                )
            );
        }

        function renderNoMenu(d_str) {
            return $('<div>').addClass('row').append(
                $('<input>').attr('type', 'button').addClass('btn').addClass('btn-default').val('Dodaj Menu').click(function() {
                    window.location = "menu?dt="+d_str;
                })
            );
        }

        function onDateSelected(d) {
            $("#menu-detail").html("");
            var d_str = moment(d).format(DATE_FORMAT);
            $.ajax("api/menus/search?dt="+d_str)
                .done(function(msg) {
                    $("#menu-detail").html((msg.length>0)?(renderMenuDetail(msg[0].id)):renderNoMenu(d_str));
                })
                .fail(function(err) {
                    console.error("Searching menu failed", err);
                    window.alert("Błąd wyszukiwania menu: " + err.responseText);
                });
        }

        // Document is ready and loaded
        $(document).ready(function() {
            $.when($.ajax("api/kitchens"), $.ajax("api/poses"), $.ajax("api/kitchen_displays"), $.ajax("api/pos_displays"))
                .done(function(res_kitchens, res_poses, res_kitchen_displays, res_pos_displays) {
                    kitchens = res_kitchens[0];
                    poses = res_poses[0];
                    kitchen_displays = res_kitchen_displays[0];
                    pos_displays = res_pos_displays[0];
                    // Init main UI elements
                    $('#datepicker').datepicker({
                        language: "pl",
                        format: DATE_FORMAT_PICKER,
                        todayHighlight: true,
                        todayBtn: true,
                        defaultDate: new Date(menuDate),
                    })
                    .on("changeDate", function(e) {
                        onDateSelected(e.date);
                    });
                })
                .fail(function(err) {
                    console.error("Getting data from server failed", err);
                    window.alert("Wystąpił błąd.");
                });
        });
