extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    // Bootstrap theme
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    // Custom styles for this template
    link(href='/node_modules/jade-bootstrap/css/theme.css', rel='stylesheet')

block body
    +navbar-fixed("Arkadia Cafe","navbar","inverse")
        +nav_item("/","active") Menu
        +nav_item("/views") Podgląd
        +nav_item("/logout") Wyloguj
    .container.theme-showcase(role='main')
        .page-header
            h1 Menu
        #menu

append scripts
    script( src='/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' )
    script.
        var menuId=#{menuId};
        var kitchens, poses, foods, menu_types;

        function onSave() {
            var m = {};
            m.id = menuId;
            m.dt = $("#menu_date").val();
            m.menu_type_id = $("#menu_type").val();
            m.notes = $("#menu_notes").val();
            m.menu_items = []
            $("[id=kitchen_id]").each(function(idx, obj) {
                m.menu_items[idx] = {}
                m.menu_items[idx].kitchen_id = $(obj).val();
            });
            $("[id=pos_id]").each(function(idx, obj) {
                m.menu_items[idx].pos_id = $(obj).val();
            });
            $("[id=food_id]").each(function(idx, obj) {
                m.menu_items[idx].food_id = $(obj).val();
            });
            $("[id=qty]").each(function(idx, obj) {
                m.menu_items[idx].qty = $(obj).val();
            });
            $("[id=qty_extra]").each(function(idx, obj) {
                m.menu_items[idx].qty_extra = $(obj).val();
            });
            $("[id=qty_returned]").each(function(idx, obj) {
                m.menu_items[idx].qty_returned = $(obj).val();
            });
            console.log("Saving menu to server:", m);
            $.ajax({
                method: "POST",
                url: (menuId)?("/api/menus/"+menuId):("/api/menus"),
                data: m
            })
            .done(function(msg) {
                console.log("Menu saved");
                window.location = "/menus";
            })
            .fail(function(err) {
                console.error("Saving menu failed", err);
                window.alert("Błąd zapisu: " + err.responseText);
            });
        }

        function onCancel() {
            window.location = "/menus";
        }

        function onAddItem() {
            var i = {};
            $('#menu_items').append(
                renderMenuItem(i)
            );
        }

        // Build menu item html
        function renderMenuItem(i) {
            console.log("Rendering menu item", i);
            return $('<tr>').append(
                $('<td>').append(
                    $('<select>').addClass('form-control').attr('id', 'kitchen_id').append(
                        $.map(kitchens, function(k) {
                            return $('<option>').val(k.id).text(k.name).prop('selected', i.kitchen_id == k.id);
                        })
                    )
                ),
                $('<td>').append(
                    $('<select>').addClass('form-control').attr('id', 'pos_id').append(
                        $.map(poses, function(p) {
                            return $('<option>').val(p.id).text(p.name).prop('selected', i.pos_id == p.id);
                        })
                    )
                ),
                $('<td>').append(
                    $('<select>').addClass('form-control').attr('id', 'food_id').append(
                        $.map(foods, function(f) {
                            return $('<option>').val(f.id).text(f.name).prop('selected', i.food_id == f.id);
                        })
                    )
                ),
                $('<td>').append(
                    $('<input>').addClass('form-control').attr('id', 'qty').val(i.qty)
                ),
                $('<td>').append(
                    $('<input>').addClass('form-control').attr('id', 'qty_extra').val(i.qty_extra)
                ),
                $('<td>').append(
                    $('<input>').addClass('form-control').attr('id', 'qty_returned').val(i.qty_returned)
                )
            );
        }

        // build menu html
        function renderMenu(menu) {
            console.log("Rendering menu", menu);
            var form = $('<div>').addClass('form-horizontal').attr('role', 'form').append(
                $('<div>').addClass('form-group').append(
                    $('<label>').addClass('control-label col-sm-2').text("Data"),
                    $('<div>').addClass('col-sm-9').append(
                        $('<input>').addClass('form-control datepicker').attr('id', 'menu_date').val(menu.dt)
                    ),
                    $('<div>').addClass('col-sm-1')
                ),
                $('<div>').addClass('form-group').append(
                    $('<label>').addClass('control-label col-sm-2').text("Typ"),
                    $('<div>').addClass('col-sm-9').append(
                        $('<select>').addClass('form-control').attr('id', 'menu_type').append(
                            $.map(menu_types, function(t) {
                                return $('<option>').val(t.id).text(t.name).prop('selected', menu.menu_type_id == t.id);
                            })
                        )
                    ),
                    $('<div>').addClass('col-sm-1')
                ),
                $('<div>').addClass('form-group').append(
                    $('<label>').addClass('control-label col-sm-2').text("Notatki"),
                    $('<div>').addClass('col-sm-9').append(
                        $('<input>').addClass('form-control').attr('id', 'menu_notes').val(menu.notes)
                    ),
                    $('<div>').addClass('col-sm-1')
                ),
                $('<div>').addClass('form-group').append(
                    $('<table>').addClass('table').append(
                        $('<thead>').append(
                            $('<tr>').append(
                                $('<th>').text("Kuchnia"),
                                $('<th>').text("Dla"),
                                $('<th>').text("Potrawa"),
                                $('<th>').text("Zamówienie"),
                                $('<th>').text("Zam. Extra"),
                                $('<th>').text("Zwrot")
                            )
                        ),
                        $('<tbody>').attr('id', 'menu_items').append(
                            $.map(menu.menu_items, function(i) {
                                return renderMenuItem(i);
                            })
                        )
                    )
                ),
                $('<div>').addClass('form-group').append(
                    $('<div>').addClass('col-md-6 btn-toolbar').append(
                        $('<input>').attr('type', 'button').addClass('btn').addClass('btn-default').val('Dodaj Pozycje Menu').click(onAddItem)
                    ),
                    $('<div>').addClass('col-md-6 btn-toolbar text-right').append(
                        $('<input>').attr('type', 'button').addClass('btn').addClass('btn-default').val('Zapisz').click(onSave),
                        $('<input>').attr('type', 'button').addClass('btn').addClass('btn-default').val('Anuluj').click(onCancel)
                    )
                )
            );
            
            $('#menu').append(form);
            $('.datepicker').datepicker();
        }

        // Document is ready and loaded
        $(document).ready(function() {
            $.when($.ajax("/api/kitchens"), $.ajax("/api/poses"), $.ajax("/api/foods"), $.ajax("/api/menu_types"))
                .done(function(res_kitchens, res_poses, res_foods, res_menu_types) {
                    kitchens = res_kitchens[0];
                    poses = res_poses[0];
                    foods = res_foods[0];
                    menu_types = res_menu_types[0];
                    if (menuId) {
                        $.ajax("/api/menus/"+menuId)
                            .done(function(menu) {
                                renderMenu(menu);
                            })
                            .fail(function(err) {
                                window.alert((err.status == 400)?"Menu " + menuId + " nie istnieje.":"Wystąpił błąd.");
                                console.error("Getting data from server failed", err);
                            });
                    }
                    else {
                        var blank_menu = {menu_items:[]};
                        renderMenu(blank_menu);
                    }

                })
                .fail(function(err) {
                    console.error("Getting data from server failed", err);
                    window.alert("Wystąpił błąd.");
                });
        });




        


