extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    // Bootstrap theme
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    // Custom styles for this template
    link(href='node_modules/jade-bootstrap/css/theme.css', rel='stylesheet')

block body
    +navbar-fixed("Arkadia Cafe","navbar","inverse")
        +nav_item("/","active") Menu
        +nav_item("/views") Podgląd
        +nav_item("/logout") Wyloguj
    .container.theme-showcase(role='main')
        .page-header
            h1 Menu
        #menu

append scripts
    script.

        var api+url = "/cafe/api";

        // Load lists
        function loadList(what, f) {
            $.get(url+"/"+encodeURIComponent(what))
                .done(function(data) {
                    console.log("Got " + what + " from the server.");
                    f(data)
                })
                .fail(function(err) {
                    msg = "Getting " + + " from the server failed.";
                    console.error(msg);
                    console.log(err);
                    window.alert(msg);
                });
        }

        $( "#menu" ).append( "<p>Test</p>" );


