extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    // Bootstrap theme
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    // Custom styles for this template
    link(href='node_modules/jade-bootstrap/css/theme.css', rel='stylesheet')

block body
    +navbar-fixed("Arkadia Cafe","navbar","inverse")
        +nav_item("/","active") Menu
        +nav_item("/views") Podgląd
        +nav_item("/logout") Wyloguj
    .container.theme-showcase(role='main')
        .page-header
            h1 Menu
        #menu

append scripts
    script( src='node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' )
    script.

        // Build the form
        function render(kitchens, poses, foods, menu_types) {
            var form_top = $('<div>').addClass('form-horizontal').attr('role', 'form').append(
                $('<div>').addClass('form-group').append(
                    $('<label>').addClass('control-label col-sm-2').text("Data"),
                    $('<div>').addClass('col-sm-9').append(
                        $('<input>').addClass('form-control datepicker').attr('id', 'menu_date')
                    ),
                    $('<div>').addClass('col-sm-1')
                ),
                $('<div>').addClass('form-group').append(
                    $('<label>').addClass('control-label col-sm-2').text("Typ"),
                    $('<div>').addClass('col-sm-9').append(
                        $('<select>').addClass('form-control').attr('id', 'menu_type').append(
                            $.map(menu_types, function(t) {
                                return $('<option>').val(t.id).text(t.name);
                            })
                        )
                    ),
                    $('<div>').addClass('col-sm-1')
                ),
                $('<div>').addClass('form-group').append(
                    $('<label>').addClass('control-label col-sm-2').text("Notatki"),
                    $('<div>').addClass('col-sm-9').append(
                        $('<input>').addClass('form-control').attr('id', 'menu_notes')
                    ),
                    $('<div>').addClass('col-sm-1')
                )
            );
            var form_menu_items =  $('<table>').addClass('table').append(
                $('<thead>').append(
                    $('<tr>').append(
                        $('<th>').text("A"),
                        $('<th>').text("B"),
                        $('<th>').text("C")
                    )
                )
            );

            $('#menu').append(form_top);
            $('#menu').append(form_menu_items);
            $('.datepicker').datepicker();
        }

        $.when($.ajax("/api/kitchens"), $.ajax("/api/poses"), $.ajax("/api/foods"), $.ajax("/api/menu_types"))
            .done(function(kitchens, poses, foods, menu_types) {
                render(kitchens[0], poses[0], foods[0], menu_types[0]);
            })
            .fail(function(err) {
                console.error("Getting data from server failed", err);
                window.alert("Wystąpił błąd.");
            });




        


