extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    // Bootstrap theme
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    // Custom styles for this template
    link(href='node_modules/jade-bootstrap/css/theme.css', rel='stylesheet')

block body
    +navbar-fixed("Arkadia Cafe","navbar","inverse")
        +nav_item("/","active") Menu
        +nav_item("/views") Podgląd
        +nav_item("/logout") Wyloguj
    .container.theme-showcase(role='main')
        .page-header
            h1 Menu
        #menu

append scripts
    script.

        var url = "api";

        // Load object
        function loadObject(edge, id, callback) {
            $.get(url+"/"+edge+"/"+encodeURIComponent(id))
                .done(function(data) {
                    console.log("Got " + what + " from the server:", data);
                    callback(data);
                })
                .fail(function(err) {
                    msg = "Getting " + + " from the server failed.";
                    console.error(msg);
                    console.log(err);
                    window.alert(msg);
                });
        }

        $( document ).ready( function() {
            // Load references  
            var kitchens = [];
            loadObject("kitchens", "", function(data) {
                kitchens = data;
            });
            var poses = [];
            loadObject("poses", "", function(data) {
                poses = data;
            });
            var foods = [];
            loadObject("foods", "", function(data) {
                foods = data;
            });

            $( "#menu" ).append( "<p>Test</p>" );
        });


        


