extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    // Bootstrap theme
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    // Custom styles for this template
    link(href='node_modules/jade-bootstrap/css/theme.css', rel='stylesheet')
    // Datepicker
    link(href='node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css', rel='stylesheet')
        
block body
    +navbar-fixed("Arkadia Cafe","navbar","inverse")
        +nav_item("menus","active") Menu
        +nav_item("logout") Wyloguj
    .container.theme-showcase(role='main')
        .page-header
            h1 Edycja Menu
        #menu


append scripts
    // Datepicker
    script( src='node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' )
    script( src='node_modules/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pl.min.js' )
    // Moment
    script( src='node_modules/moment/min/moment.min.js' )

    // Parameters   
    if menuId
        script.
            var menuId = !{menuId};
    else
        script.
            var menuId = null
    if menuDate
        script.
            var menuDate = "!{menuDate}";
    else
        script.
            var menuDate = null
        
    script.
        var DATE_FORMAT = "YYYY-MM-DD";
        var DATE_FORMAT_PICKER = "yyyy-mm-dd";

        var kitchens, poses, foods, menu_types;

        function onSave() {
            var m = {};
            m.id = menuId;
            m.dt = moment($("#menu_date").val()).format(DATE_FORMAT);
            m.menu_type_id = $("#menu_type").val();
            m.notes = $("#menu_notes").val();
            m.menu_items = []
            $("[id=kitchen_id]").each(function(idx, obj) {
                m.menu_items[idx] = {}
                m.menu_items[idx].kitchen_id = $(obj).val();
            });
            $("[id=pos_id]").each(function(idx, obj) {
                m.menu_items[idx].pos_id = $(obj).val();
            });
            $("[id=food_id]").each(function(idx, obj) {
                m.menu_items[idx].food_id = $(obj).val();
            });
            $("[id=qty]").each(function(idx, obj) {
                m.menu_items[idx].qty = $(obj).val();
            });
            $("[id=qty_extra]").each(function(idx, obj) {
                m.menu_items[idx].qty_extra = $(obj).val();
            });
            $("[id=qty_returned]").each(function(idx, obj) {
                m.menu_items[idx].qty_returned = $(obj).val();
            });
            console.log("Saving menu to server:", m);
            $.ajax({
                method: "POST",
                url: (menuId)?("api/menus/"+menuId):("api/menus"),
                data: m
            })
            .done(function(msg) {
                console.log("Menu saved");
                window.location = "menus?dt="+m.dt;
            })
            .fail(function(err) {
                console.error("Saving menu failed", err);
                window.alert("Błąd zapisu: " + err.responseText);
            });
        }

        function onCancel() {
            dt = moment($("#menu_date").val()).format(DATE_FORMAT);
            window.location = "menus?dt="+dt;
        }

        function onAddItem() {
            var i = {};
            $('#menu_items').append(
                renderMenuItem(i)
            );
        }

        // Build menu item html
        function renderMenuItem(i) {
            console.log("Rendering menu item", i);
            return $('<tr>').append(
                $('<td>').append(
                    $('<select>').addClass('form-control col-md-2').attr('id', 'pos_id').append(
                        $.map(poses, function(p) {
                            return $('<option>').val(p.id).text(p.name).prop('selected', i.pos_id == p.id);
                        })
                    )
                ),
                $('<td>').append(
                    $('<select>').addClass('form-control').attr('id', 'kitchen_id').append(
                        $.map(kitchens, function(k) {
                            return $('<option>').val(k.id).text(k.name).prop('selected', i.kitchen_id == k.id);
                        })
                    )
                ),
                $('<td>').append(
                    $('<select>').addClass('form-control').attr('id', 'food_id').append(
                        $.map(foods, function(f) {
                            return $('<option>').val(f.id).text(f.name).prop('selected', i.food_id == f.id);
                        })
                    )
                ),
                $('<td>').append(
                    $('<input>').addClass('form-control').attr('id', 'qty').val(i.qty)
                ),
                $('<td>').append(
                    $('<input>').addClass('form-control').attr('id', 'qty_extra').val(i.qty_extra)
                ),
                $('<td>').append(
                    $('<input>').addClass('form-control').attr('id', 'qty_returned').val(i.qty_returned)
                ),
                $('<td>').append(
                    $('<button>').attr('type', 'button').addClass('btn btn-default btn-sm').append(
                        $('<span>').addClass('glyphicon glyphicon-minus-sign')
                    ).click(function() {
                        $(this).closest("tr").remove();
                    })
                )
            );
        }

        // build menu html
        function renderMenu(menu) {
            console.log("Rendering menu", menu);
            var form = $('<div>').addClass('form-horizontal').attr('role', 'form').append(
                $('<div>').addClass('form-group').append(
                    $('<label>').addClass('control-label col-sm-2').text("Data"),
                    $('<div>').addClass('col-sm-9').append(
                        $('<input>').addClass('form-control datepicker').attr('id', 'menu_date').val(moment(menu.dt).format(DATE_FORMAT))
                    ),
                    $('<div>').addClass('col-sm-1')
                ),
                $('<div>').addClass('form-group').append(
                    $('<label>').addClass('control-label col-sm-2').text("Typ"),
                    $('<div>').addClass('col-sm-9').append(
                        $('<select>').addClass('form-control').attr('id', 'menu_type').append(
                            $.map(menu_types, function(t) {
                                return $('<option>').val(t.id).text(t.name).prop('selected', menu.menu_type_id == t.id);
                            })
                        )
                    ),
                    $('<div>').addClass('col-sm-1')
                ),
                $('<div>').addClass('form-group').append(
                    $('<label>').addClass('control-label col-sm-2').text("Notatki"),
                    $('<div>').addClass('col-sm-9').append(
                        $('<input>').addClass('form-control').attr('id', 'menu_notes').val(menu.notes)
                    ),
                    $('<div>').addClass('col-sm-1')
                ),
                $('<div>').addClass('form-group').append(
                    $('<table>').addClass('table').append(
                        $('<thead>').append(
                            $('<tr>').append(
                                $('<th>').addClass('col-md-2').text("Pkt. Sprzedaży"),
                                $('<th>').addClass('col-md-2').text("Kuchnia"),
                                $('<th>').addClass('col-md-4').text("Potrawa"),
                                $('<th>').addClass('col-md-1').text("Zamów."),
                                $('<th>').addClass('col-md-1').text("Extra"),
                                $('<th>').addClass('col-md-1').text("Zwrot"),
                                $('<th>').addClass('col-md-1')
                            )
                        ),
                        $('<tbody>').attr('id', 'menu_items').append(
                            $.map(menu.menu_items, function(i) {
                                return renderMenuItem(i);
                            })
                        ),
                        $('<tfoot>').append(
                            $('<tr>').append(
                                $('<td>').attr('colspan', 7).append(
                                    $('<button>').attr('type', 'button').addClass('btn btn-default btn-sm').append(
                                        $('<span>').addClass('glyphicon glyphicon-plus-sign'),
                                        " Potrawa"
                                    ).click(onAddItem)
                                )
                            )
                        )
                    )
                ),
                $('<div>').addClass('form-group').append(
                    $('<div>').addClass('btn-toolbar text-right').append(
                        $('<input>').attr('type', 'button').addClass('btn').addClass('btn-default').val('Zapisz').click(onSave),
                        $('<input>').attr('type', 'button').addClass('btn').addClass('btn-default').val('Anuluj').click(onCancel)
                    )
                )
            );
            
            $('#menu').append(form);

            $('.datepicker').datepicker({
                language: "pl",
                format: DATE_FORMAT_PICKER,
                todayHighlight: true,
                todayBtn: true,
            });
        }

        // Document is ready and loaded
        $(document).ready(function() {
            $.when($.ajax("api/kitchens"), $.ajax("api/poses"), $.ajax("api/foods"), $.ajax("api/menu_types"))
                .done(function(res_kitchens, res_poses, res_foods, res_menu_types) {
                    kitchens = res_kitchens[0];
                    poses = res_poses[0];
                    foods = res_foods[0];
                    menu_types = res_menu_types[0];
                    if (menuId) {
                        $.ajax("api/menus/"+menuId)
                            .done(function(menu) {
                                renderMenu(menu);
                            })
                            .fail(function(err) {
                                window.alert((err.status == 400)?"Menu " + menuId + " nie istnieje.":"Wystąpił błąd.");
                                console.error("Getting data from server failed", err);
                            });
                    }
                    else {
                        var blank_menu = {dt:menuDate, menu_items:[]};
                        renderMenu(blank_menu);
                    }

                })
                .fail(function(err) {
                    console.error("Getting data from server failed", err);
                    window.alert("Wystąpił błąd.");
                });
        });




        


